@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1551433106067'); /* IE9 */
  src: url('../iconfont/iconfont.eot?t=1551433106067#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK0AAsAAAAABlAAAAJnAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApcaQE2AiQDCAsGAAQgBYRtBy8bjgUR1Ytjsj8XHYerthLwxygjJKuGSbU0l9nnzofx9V/bO6AtV6j0BMppyCPj8UAE0VpZPTN7Pw8cQHJApBDVCxVABWhkhIxQkcASSOhb2hb50ksoCwmLLxXSi1bst+PAx95K9V5gbnaXNHP1daHbAyrs/9zghCoAySx/2p/xfIjqDQCKyd0ySCiHgO0TTBO/Cy44aaUHWGx6KH5mwVCXT9w7/RPog6weUI570ViTJnUBdXEgBbgXRoEEXCKZN4xd8ALvE+gyxSKxJdhzRFXYywJx3Vw6oxbCisJyVWg17C3isUZND0c8ir4ff62IStJkdsOBi1vP2/CDU8CN/nhAiBDQ4QYZi1CII43pfbJgXNaVLmZwrNrghwtc4qh2wf46u7oHTIKKZ1J6qkfNJXisscZi8qQ3IMbW/iPVO0A/7yItry7jxLLV/+Zz9bJv2i5GbADtcnJ+IhC8648srhTwca9oQbsiJ9QdeYIfohzYUwy17UxFUzYOJmNP1NSlC23YP+T7VMvos+dDNXqCrkNXZsiqWWRhF6HRbRVaqvXostD2w92GjciidGKBuwBhwGskfd4gG/CWLOw3NMb4j5aByOhyLKZndpsTmFExJoIXSJ9gsrYh1y0qrt2jvlYJ59URf0YeTAw82y3nQmyQl9gw3LQvQkDc1hCAx7CqWui4LTATOxfpZo5DTS+ys7a2lBgTwQukTzBZ21AwXFTl83vU1yrhjq66/Bl5MJODZ7sDyNDQDOp6lGeGm/ZFCIjbGgIwC6uqha55VoGZ2PmEZDdznH401GBvb6r/7gh0sa0pnCmZEaNzsSwAAAA=') format('woff2'),
  url('../iconfont/iconfont.woff?t=1551433106067') format('woff'),
  url('../iconfont/iconfont.ttf?t=1551433106067') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../iconfont/iconfont.svg?t=1551433106067#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e61e";
}

